<header class="nav-background text-white p-3">
    <nav class="container navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html"></a>
        <h1>Servitecnico</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="Servitecnico.html" target="_blank">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="nosotros.html" target="_blank">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="alcance.html" target="_blank">Alcance</a></li>
                <li class="nav-item"><img src="../image/icons/apple-touch-icon.png" class="rounded-circle" style="width: 4%; position:fixed;" alt=""></li>
            </ul>
        </div>
    </nav>
</header>
