html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
   
        display: flex;
        justify-content:space-between;  /* Centra horizontalmente */
        height: 100px;  /* Ajusta según el tamaño que prefieras */
        background-color: #007bff; /* Ejemplo de color de fondo */
        
    }

    
main {
    flex: 1; /* Permite que el contenido empuje el footer hacia abajo */
}
#carouselExampleIndicators {
    max-width: 50%; /* Reduce el tamaño al 50% del contenedor */
    margin: auto; /* Centra el carrusel */
}

/* Ajustar tamaño de las imágenes del carrusel */
.carousel-item img {
    height: 300px; /* Establece una altura fija */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

footer {
    width: 100%;
    margin-top: auto; /* Asegura que el footer siempre esté al final */
    background-color: #007bff; /* Color de fondo */
    color: white;
    text-align: center;
    padding: 15px;
}
